***

# **DATA SCIENCE WITH PYTHON**

***

# **Shortcuts Jupyter Lab**
- Create a new Cell - Esc+B
- Deleting a Cell  - Esc+X
- Markdown - Esc+M
- running a Cell - Shift+Enter , Alt+Enter , Ctrl+Enter ( Executing the code )

***

## Python Has Five Standard Data Type

- String 
- Number
- List 
- Tuple
- Dictionary
- Set

In [2]:
print("HELLO PYTHON !")

HELLO PYTHON !

In [4]:
2+2

4

***

# **FINDING DATA TYPE**

In [4]:
a=1;

In [5]:
type(a)

int

In [9]:
int_1=10000000000

In [10]:
'{:,.0f}'.format(int_1) # .format method

'10,000,000,000'

In [7]:
b="RAZA"

In [8]:
type(b)

str

In [9]:
c="1234"

In [10]:
type(c)

str

***

# **LIST IN PYTHON**

- ### **LIST ARE MUTABLE**   i.e can be change

In [55]:
lis=[]

In [56]:
print(type(lis))

<class 'list'>

In [11]:
list_1=["a","b","c","d"]

In [12]:
print(list_1)

['a', 'b', 'c', 'd']

In [14]:
print(list_1[2])

c

In [5]:
num=[1,2,3,4,5,6]

In [6]:
print(num)

[1, 2, 3, 4, 5, 6]

In [8]:
num.sort()
num.reverse() # reverse the given number

In [9]:
print(num)

[6, 5, 4, 3, 2, 1]

In [10]:
print(num[2])

4

In [11]:
print(len(num)) # find the length

6

In [12]:
print(max(num)) # find the maximum number

6

In [13]:
print(min(num))  # find the minimum number

1

In [17]:
num.append(7) # attach at the last of the list

In [18]:
print(num)

[6, 5, 4, 3, 2, 1, 7]

In [19]:
num.insert(1,0) #  eg. insert 1 is position of the 0.

In [20]:
print(num)

[6, 0, 5, 4, 3, 2, 1, 7]

In [25]:
num.remove(0) # remove function using remove particular number eg. 0.

In [26]:
print(num)

[6, 5, 4, 3, 2, 7]

In [27]:
num.pop() # remove the last element from the list.

7

In [28]:
print(num)

[6, 5, 4, 3, 2]

In [30]:
num[0]=9 # it can be change in list but not tuple.

In [31]:
print(num)

[9, 5, 4, 3, 2]

- ## **Using index Function**

In [39]:
# vowels list
vowels = ['a', 'e', 'i', 'o', 'i', 'u']

# index of 'e' in vowels
index = vowels.index('e')
print('The index of e:', index)

# element 'i' is searched
# index of the first 'i' is returned
index = vowels.index('i')

print('The index of i:', index)

The index of e: 1
The index of i: 2

-  ## **Using exdend Function**

In [46]:
# language list
language = ['French', 'English']

# another list of language
language1 = ['Spanish', 'Portuguese']

# appending language1 elements to language
language.extend(language1)

print('Language List:', language)

Language List: ['French', 'English', 'Spanish', 'Portuguese']

### SLICING

In [40]:
print(num[0:3])

[6, 5, 4]

In [39]:
print(num[0:2:1])

[6, 5]

### EXTEND SLICING

In [52]:
print(num[0:6:2])

[6, 4, 2]

***

# **TUPLE IN PYTHON**

 - ### **TUPLE ARE UNMUTABLE** i.e cannot be change

In [57]:
tp=()

In [58]:
print(type(tp))

<class 'tuple'>

In [32]:
num1=(1,2,3,4,5,6)

In [33]:
print(num1)

(1, 2, 3, 4, 5, 6)

***

~~~python
commet in python
Example :
 num1[1]=9
    at the place of 2 add 9 but its not possible in tuple

~~~

***

In [51]:
a=2
b=4

In [52]:
a,b=b,a  # Swapping two number using in built function in pythoin

In [53]:
print(a,b)

4 2

- ## **Add Elements of Tuple and Set to List**

In [47]:
# language list
language = ['French']

# language tuple
language_tuple = ('Spanish', 'Portuguese')

# language set
language_set = {'Chinese', 'Japanese'}

# appending language_tuple elements to language
language.extend(language_tuple)

print('New Language List:', language)

# appending language_set elements to language
language.extend(language_set)

print('Newer Language List:', language)

New Language List: ['French', 'Spanish', 'Portuguese']
Newer Language List: ['French', 'Spanish', 'Portuguese', 'Chinese', 'Japanese']

***

# **SET IN PYTHON**

- ##  **Set are Unmutable** i.e it cannot be change

In [105]:
st=set()

In [109]:
print(type(st))

<class 'set'>

In [110]:
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}

In [119]:
myset={11,2,3}

In [120]:
print(myset)

{3, 2, 11}

In [121]:
myset.add(4) # adding the value.

In [122]:
print(myset)

{3, 2, 11, 4}

In [123]:
# add multiple elements
myset.update([5,0,7,9])

In [124]:
print(myset)

{0, 2, 3, 4, 5, 7, 9, 11}

In [125]:
myset.update([4, 5], {1, 6, 8})
print(myset)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11}

***

# **DICTIONARY IN PYTHON**

- ## **Dictionary are Mutable** i.e it can be change

In [59]:
dic={}

In [60]:
print(type(dic))

<class 'dict'>

In [64]:
raza={"Name":"Abdul Raza Shaikh","Roll No.":37,"College Name":"Rizvi College "}

In [62]:
print(raza)

{'Name': 'Abdul Raza Shaikh', 'Roll No.': 37, 'College Name': 'Rizvi College '}

In [66]:
print(raza["Name"])

Abdul Raza Shaikh

In [76]:
# Nested Dictionary
a={"Raza":"Student","Roll No.":37,"Rizvi College":{"Branch 1": "Computer","Branch 2":"Electronics","Branch 3":"Civil"}}

In [78]:
print(a["Rizvi College"])

{'Branch 1': 'Computer', 'Branch 2': 'Electronics', 'Branch 3': 'Civil'}

In [79]:
a["Rizvi College"]["Branch 4"]="Artificial Inteligence" # adding  value inside the dictionary or nested dictionary.

In [80]:
print(a)

{'Raza': 'Student', 'Roll No.': 37, 'Rizvi College': {'Branch 1': 'Computer', 'Branch 2': 'Electronics', 'Branch 3': 'Civil', 'Branch 4': 'Artificial Inteligence'}}

In [81]:
del a["Roll No."] # Delete the value inside the dictionary.

In [83]:
print(a)

{'Raza': 'Student', 'Rizvi College': {'Branch 1': 'Computer', 'Branch 2': 'Electronics', 'Branch 3': 'Civil', 'Branch 4': 'Artificial Inteligence'}}

In [85]:
print(a.get("Raza")) # get function gives the value of a particular index .

Student

In [100]:
a.update({" Student Surname":"Shaikh"}) # add the value using update function

In [101]:
print(a)

{'Raza': 'Student', 'Rizvi College': {'Branch 1': 'Computer', 'Branch 2': 'Electronics', 'Branch 3': 'Civil', 'Branch 4': 'Artificial Inteligence'}, 'Surname': 'Shaikh', ' Student Surname': 'Shaikh'}

***

# **STRING IN PYTHON**

In [126]:
mystr="Abdul Raza"

In [127]:
print(mystr)

Abdul Raza

In [128]:
print(mystr[3])

u

- ## **String Slicing**

In [129]:
print(mystr[0:4])

Abdu

In [130]:
print(len(mystr))

10

In [140]:
print(mystr[0:10:2]) # 0 is starting ,10 is end of the string and 2 is difference

AdlRz

In [171]:
mystr1="Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking ... visited this page 3 times."

In [145]:
print(mystr1)

Search the world's information, including webpages, images, videos and more. Google has many special features to help you find exactly what you're looking ... visited this page 3 times.

In [173]:
print(mystr1[-99:-3])

s many special features to help you find exactly what you're looking ... visited this page 3 tim

In [174]:
print(mystr1[-99:-3:4])

snpaerteyf c tu k  i sg

In [181]:
print(mystr1.endswith("Google"))

False