# Python Session 2

Every PL should / must support

1. Variable or Variables to save/store Value 
2. It should be able to handle conditional operations
3. It should be able to do tasks iteratively

In [4]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)

1
2
3
4
5
6

In [5]:
for i in range(1,7): # Loop
    print(i)

1
2
3
4
5
6

In [1]:
a = 1 # variable - datatype - Integers -  Precision of your Data

In [ ]:
# Store Values in Python

# C 

int a;
a = 1

In [ ]:
'This'
"This"

In [10]:
"Pranjal's"

"Pranjal's"

In [8]:
a =

In [9]:
type(a)

str

In [7]:
int_value = 10
float_value = 10.02
string_value = 'abc'

In [10]:
float_value

10.02

In [11]:
a = 1

In [1]:
a

NameError: name 'a' is not defined

In [2]:
a

1

In [3]:
a = 2

In [4]:
a

2

In [1]:
2+2

4

In [ ]:
name_1 = ['Sunidhi' ,'Ankita' , 'Alex'] # Idea - 1

In [ ]:
# LIST
name_1 = [1,2,3, 5.5,6.6,7.7 ,'Str1' , 'str2' , [9999,100000,111000] ]

# Overview
Python has five standard Data Types:

- Numbers
- String
- List
- Tuple
- Dictionary
- Set

### Numeric Types in Python

In Python, number data types are used to store numeric values. There are four different numerical types in Python:
- int (plain integers): this one is pretty standard -- plain integers are just positive or negative whole numbers.
- long (long integers): long integers are integers of infinite size. They look just like plain integers except they're followed by the letter "L" (ex: 150L).
- float (floating point real values): floats represent real numbers, but are written with decimal points (or scientific notaion) to divide the whole number into fractional parts. 
- complex (complex numbers): represented by the formula a + bJ, where a and b are floats, and J is the square root of -1 (the result of which is an imaginary number). Complex numbers are used sparingly in Python.

In [ ]:
# float - Real Values - includes fractions and decimal points -

In [ ]:
# string representation - "" and ''

# Creating Variables
Unlike other programming languages, Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [9]:
# In other languages  , declare variable first and then you can use it
temp = 1

In [16]:
temp = 1

In [17]:
print(temp)

1

In [18]:
temp

1

In [ ]:
2 - Types of Callable Objects

1. Function - Generalised Idea inside a Programming Language - function(values)
2. Method - Specific Idea of a Specific Data type in a PL - values.method()

In [23]:
d1

{'AXIS': 8.5, 'HDFC': 9}

In [25]:
# l1 = [1,2,3]

# d1.update({'AXIS':100})
# d1

{'AXIS': 100, 'HDFC': 9}

In [10]:
type(a) # name_of_function(parameter)

int

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
# Task - 1

1. Create 3 variables
2. Print the variables and print their types

In [26]:
d1 = {'AXIS':8.5,'HDFC':9}
d1.update({"AXIS":100})

In [27]:
d1

{'AXIS': 100, 'HDFC': 9}

In [5]:
x = 1
y = 5.2
z = 'str1'
print("The Type of the Variable is",x,y,z)

The Type of the Variable is 1 5.2 str1

In [12]:
int_1 = 100000000.5678934
int_1

100000000.5678934

In [ ]:
'{:2,.2f}'.format(int_1)

In [11]:
str_var = "one"
float_var = 1.1
int_var = 1

print("The Data Types are :")
print(type(str_var))
print(type(float_var))
print(type(int_var))

The Data Types are :
<class 'str'>
<class 'float'>
<class 'int'>

In [10]:
# Restrictions

### Variable Names
- A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
# Restriction for naming - 

for , in  , not , list , tuple , dict ,

In [22]:
a = 1.0 # Float
b = 1 # INT
c = 'String' # str

In [15]:
type(str_var)

str

In [19]:
str1 = "Hi"

In [43]:
names = ['SAHELI' , 'ALEX' , 'NIPESH' , 'ANKITA','RUCHIKA']
phones = [1234 ,     5678  ,     9876 ,    1112 , 5432]

In [45]:
phones[names.index('NIPESH')]

9876

# Compund Data Types

# Lists

In [23]:
Compund Data Types -  # Multiple values , different data types , including itself and others

In [17]:
l = [] # notation for a list
l1 = list()

In [18]:
l # Empty list

[]

In [19]:
l1

[]

In [20]:
l = [1,2,3] # comma seperated elements

In [21]:
l

[1, 2, 3]

In [22]:
l =[4,5,6]

In [23]:
l

[4, 5, 6]

In [24]:
list_1 = [ 1 , 2.5 , 'three' , "four's" ]

In [29]:
type(list_1[3])

str

In [41]:
list_1[3]     # Indexed

"four's"

In [ ]:
index = position - 1
position = index + 1

In [ ]:
list_1

In [ ]:
indices of a list

# Data Type - 

1. Retrieve 
2. Display
3. Modify

# Accessing Elements of a list

In [ ]:
# In a list ,  date is retreived using Indexing

In [46]:
list_1[0] # Indexing starts from 0

[1, 2.5, 'three', "four's"]

In [49]:
# Python  - Retrieve value - Index - [between]
list_1[:] # Indexing ,Slicing , start - Inclusive , end - Exclusive

[1, 2.5, 'three', "four's"]

In [58]:
list_1[-len(list_1):]

[1, 2.5, 'three', "four's"]

In [ ]:
-1 : END+1

In [40]:
# Indexing - index = position - 1
list_1[2]

'three'

In [ ]:
# create a list and try to access it's elements

In [50]:
list_1[start:end]

1

In [57]:
list_1[0:len(list_1)]

[1, 2.5, 'three', "four's"]

In [58]:
len(list_1)

4

In [63]:
list_1[-3:-2]

[2.5]

In [81]:
list_1[:2]

[1, 2.5]

In [59]:
list_2 = [1,2,3,[4,5,6],7]

In [63]:
list_2[3][1]

5

In [69]:
# Convert Data Types

list(set([1,2,3,4]))[1]

2

In [ ]:
# Create a list - by the 2 ways - explicit call and representation
# Add atleast 10 elements of different data types including a compound data type and access the elements of the list

In [1]:
l1 = [1,2,3]
l2 = list(l1)

In [80]:
l1 = [1,2,3]
l2 = l1.copy()

In [81]:
l1

[1, 2, 3]

In [82]:
l2

[1, 2, 3]

In [83]:
l2.append(4)

In [84]:
l2

[1, 2, 3, 4]

In [85]:
l1

[1, 2, 3]

In [9]:
l3 = [1,2,3]
l4 = l3.copy() # Memory Refernece / Location

In [10]:
l4[0] = 5
l3[2] = 10

In [11]:
l4

[5, 2, 3]

In [12]:
l3

[1, 2, 10]

1  2  3
-- -- --
M1 M2 M3
^
|  l3

1  2  3
-- -- --
M4  M5 M6
^
|  l4

l3 = [1,2,3]
l4 = l3.copy()

In [14]:
l = [ 1, 2 ,3 ]

# Function and a Method

In [ ]:
Method is specific to an object , while a function is generalized to all objects

In [20]:
len(l1)

3

In [21]:
t1 = (1,2,3,4,5)
type(t1)

tuple

In [22]:
len(t1)

5

In [24]:
len(d1)

3

In [ ]:
# Method comes after the object
# l1.reverse()

# Function comes before an object
# len(l1)

# Methods of a list

#### append
appends an element to the end of a list:

In [34]:
# l.append(4)
# Retreival - Done and dusted
# Modify our list

# Adding a value - .append() method

l1 = [1,2,3]
l2 = [8,9,10]
l1.append(l2)

In [96]:
l1 = [] # l1 = list()

In [99]:
l1

[]

In [104]:
l1.append(3) # add at an index , add at the beginning , add at end

In [105]:
l1

[3, 3, 3]

In [ ]:
# time complexity - use a loop - time complexity - increases by O(n)

#### count
count() takes in an element and returns the number of times it occures in your list:

In [36]:
# Len - for the size , Count
l1 = [1,2,2,3,3,4,4,5,6]
l1.count(3)

2

In [37]:
len(l1)

9

In [56]:
l.append(1)

In [70]:
l

[1, 2, 3, 4, 1, [7, 8, 9], 7, 8, 9]

In [57]:
l.count(1)

2

In [ ]:
l.count(2)

1

In [59]:
l

[1, 2, 3, 4, 1]

In [106]:
l2 = []
l2.append(1000)
l2.append(99999)

TypeError: append() takes exactly one argument (2 given)

# .extend()

In [40]:
l1 = [1,2,3]
l2 = [4,5,6]

l1.extend(l2)

In [107]:
l3 = []

In [108]:
l3

[]

In [110]:
l3.extend([1,2,3,4])

In [111]:
l3

[1, 2, 3, 4]

In [112]:
l4 =  []
l4

[]

In [113]:
l4.append([1,2,3,4])

In [114]:
l4

[[1, 2, 3, 4]]

In [43]:
l.extend([1]) # [7,8,9]

In [44]:
l

[3, 2, 1, 1]

In [45]:
l.extend([7,8,9])

In [46]:
l

[3, 2, 1, 1, 7, 8, 9]

#### extend

Many times people find the difference between extend and append to be unclear. So note:

**append: Appends object at end**

In [ ]:
x = [1, 2, 3]
x.append([4, 5])
print x

[1, 2, 3, [4, 5]]

In [84]:
l = [1,2,3]
m = [4,5,6]

In [87]:
list_3 = []
for elem in l:
    for elem2 in m:
        list_3.append(elem*elem2)

In [88]:
list_3

[4, 5, 6, 8, 10, 12, 12, 15, 18]

**extend: extends list by appending elements from the iterable**

In [ ]:
x = [1, 2, 3]
x.extend([4, 5])
print x

[1, 2, 3, 4, 5]

In [ ]:
l5[0]

In [115]:
l5 = [7,99,121,77,29]
#[0 ,1 , 2, 3 , 4]

In [117]:
for element in l5:
    print(element)

7
99
121
77
29

# find an element
.index() # Searching concept

In [49]:
l

[3, 2, 1, 1, 7, 8, 9]

In [52]:
l.index(9)

6

Note how extend append each element in that iterable. That is the key difference.

#### index
index will return the index of whatever element is placed as an argument. Note: If the the element is not in the list an error is returned.

In [ ]:
l.index(2)

1

In [ ]:
l.index(12)

ValueError: 12 is not in list

# .insert()

In [118]:
l = [1,2,3]

In [119]:
l

[1, 2, 3]

In [ ]:
# SYNTAX - PRE_SPECIFIED FORMULA OF APPLICATION OF A METHOD OR FUNCTION

In [120]:
l.insert(0,5) #.insert(index , element )

In [121]:
l

[5, 1, 2, 3]

In [122]:
l.insert(2,10)

In [123]:
l

[5, 1, 10, 2, 3]

In [124]:
l1 = []
type(l1)

list

In [125]:
l2 = ()
type(l2)

tuple

In [127]:
for element in l:
    print (element)

SyntaxError: invalid syntax (<ipython-input-127-95e0b8c9c084>, line 1)

In [129]:
'str1'+5

TypeError: can only concatenate str (not "int") to str

#### insert 
insert takes in two arguments: insert(index,object) This method places the object at the index supplied. For example:

In [ ]:
l

[1, 2, 3, 4]

In [ ]:
# Place a letter at the index 2
l.insert(2,'inserted')

In [ ]:
l

[1, 2, 'inserted', 3, 4]

In [155]:
l = [5, 1, 10, 2, 3]

In [132]:
l[0] = 500
l

[500, 1, 10, 2, 3]

# .pop()

In [156]:
l

[5, 1, 10, 2, 3]

In [157]:
l.pop()

3

In [158]:
l

[5, 1, 10, 2]

In [ ]:
# DO NOT FORGET



# RETURN AND NOT RETURN OF THE FUNCTION

In [152]:
def add_one_function(x):
    x = x+1
    return x

In [153]:
add_one_function(5)

6

#### pop
allows us to "pop" off the last element of a list.

In [ ]:
ele = l.pop()

In [ ]:
l

[1, 2, 'inserted', 3]

In [ ]:
ele

4

## .remove()
The remove() method removes the first occurrence of a value. For example:

In [159]:
l = [1,2,3,1]

In [160]:
l.remove(3)

In [161]:
l

[1, 2, 1]

In [144]:
l.remove(3)

In [145]:
l

[2, 1]

In [164]:
l1 = [2,3,4,5]

l1.remove(3)

In [165]:
l1

[2, 4, 5]

In [185]:
l2 = [1,2,3]
l3 = [5,555,1,89,3,56,2]

In [186]:
for element in l3[3:5]:
    l3.remove(element)

In [187]:
l3

[5, 555, 1, 56, 2]

In [172]:
for element in [89, 3, 56, 2]:
    l3.remove(element)

In [173]:
l3

[5, 555, 1]

In [176]:
l3

[5, 555, 1, 89, 3, 56, 2]

In [177]:
l3[0]

5

In [178]:
l3.remove(5)

In [179]:
l3

[555, 1, 89, 3, 56, 2]

# Updation Syntax

In [74]:
l1 = [1,4,5,2,3]

#l1[l1.index(2)] = 2.5
#l1

In [76]:
# access the element 2 at its particular index and modify/update it

l1[3] = 2.5

In [87]:
l1 = [1,10,4,5,7,3,2]

In [88]:
l1[l1.index(2)] = 2.5

In [72]:
l1.index(2)

ValueError: 2 is not in list

In [ ]:
l.remove('inserted')

In [ ]:
l

[1, 2, 3]

In [ ]:
l = [1,2,3,4,3]

In [ ]:
l.remove(3)

In [ ]:
l

[1, 2, 4, 3]

In [191]:
l = [1,2,3,4,5,6,7,8,9]

In [192]:
l_new = l[4:7]

In [193]:
l_new

[5, 6, 7]

In [189]:
del l[3:8]

In [190]:
l

[1, 2, 3, 9]

In [ ]:
del l[1:2]

In [92]:
l = [1,2,3]

In [205]:
l1 = [1,2,3,4]

l2 = []

val = len(l1)



for i in range(len(l1)):
    print(val)
    l2.append(l1[val-1])
    
    val = val-1

4
3
2
1

In [207]:
l1[::-1]

[4, 3, 2, 1]

In [227]:
l2 = [999 , 10000 , 5555 , 6754 , 23234 , 232 ,32]
l2

[999, 10000, 5555, 6754, 23234, 232, 32]

# .reverse()

In [213]:
l2.reverse()

In [214]:
l2

[6754, 5555, 10000, 999]

In [217]:
list(reversed(l2))

[6754, 5555, 10000, 999]

In [218]:
l2

[999, 10000, 5555, 6754]

In [222]:
l2 = l2[::-1]

In [223]:
l2

[6754, 5555, 10000, 999]

In [237]:
l2

[999, 10000, 5555, 6754, 23234, 232, 32]

In [242]:
sorted(l2  , reverse = True)

[23234, 10000, 6754, 5555, 999, 232, 32]

In [243]:
l2

[999, 10000, 5555, 6754, 23234, 232, 32]

In [244]:
l2.sort()

In [245]:
l2

[32, 232, 999, 5555, 6754, 10000, 23234]

In [236]:
l2[0:2]+list(reversed(l2[2:5]))+l2[5:]

[999, 10000, 23234, 6754, 5555, 232, 32]

In [228]:
l2

[999, 10000, 5555, 6754, 23234, 232, 32]

In [95]:
l.reverse()

In [97]:
l = [4,5,6,7]

In [100]:
list(reversed(l))

[7, 6, 5, 4]

In [101]:
l

[4, 5, 6, 7]

In [107]:
a = 1
float(a)

1.0

#### reverse
reverse() reverses a list. Note this occurs in place! Meaning it effects your list permanently.

In [ ]:
l.reverse()

In [ ]:
l

[3, 4, 2, 1]

#### sort
sort will sort your list in place:

In [111]:
l = [1,4,8,2,3,9]

In [109]:
l.sort()

In [110]:
l

[1, 2, 3, 4, 8, 9]

In [114]:
sorted(l, reverse= True)

[9, 8, 4, 3, 2, 1]

In [115]:
l

[1, 4, 8, 2, 3, 9]

# Task 1

In [ ]:
Create a list - [20,15,4,2,8]
Append 5
extend  7,8,9
Insert at position 2 - 100
Remove element 9 
Reverse the list , show the original list and the reversed list
Sort in Descending format - Show the sorted list and the unsorted list

In [257]:
l1 = [20,15,4,2,8]
l1

[20, 15, 4, 2, 8]

In [258]:
l1.append(5)
l1

[20, 15, 4, 2, 8, 5]

In [259]:
l1.extend([7,8,9])
l1

[20, 15, 4, 2, 8, 5, 7, 8, 9]

In [260]:
l1.insert(1 , 100)
l1

[20, 100, 15, 4, 2, 8, 5, 7, 8, 9]

In [261]:
l1.remove(9)
l1

[20, 100, 15, 4, 2, 8, 5, 7, 8]

In [264]:
l1.reverse()
l1

[8, 7, 5, 8, 2, 4, 15, 100, 20]

In [265]:
l1.reverse()
l1

[20, 100, 15, 4, 2, 8, 5, 7, 8]

In [266]:
l1

[20, 100, 15, 4, 2, 8, 5, 7, 8]

In [268]:
sorted(l1 , reverse = True)

[100, 20, 15, 8, 8, 7, 5, 4, 2]

In [269]:
l1

[20, 100, 15, 4, 2, 8, 5, 7, 8]

In [270]:
l2 = l1.copy()
l1.sort()
l1

[2, 4, 5, 7, 8, 8, 15, 20, 100]

In [271]:
l2

[20, 100, 15, 4, 2, 8, 5, 7, 8]

In [246]:
def function(x):
    x = x+1

In [247]:
5 + function(10)

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [250]:
list(reversed([1,2,3]))

[3, 2, 1]

In [251]:
l = [1]

In [255]:
l.append(2)

In [254]:
l

[1, 2, 2]

In [140]:
l = [1,2,3,4] # List creation
l

[1, 2, 3, 4]

In [141]:
l.append(5)
l

[1, 2, 3, 4, 5]

In [142]:
l.extend([7,8,9])
l

[1, 2, 3, 4, 5, 7, 8, 9]

In [143]:
l.insert(1,100)
l

[1, 100, 2, 3, 4, 5, 7, 8, 9]

In [138]:
# replace - l[l.index(2)] = 1000 # l[0]

In [144]:
l.remove(9)

In [145]:
l

[1, 100, 2, 3, 4, 5, 7, 8]

In [146]:
sorted(l , reverse = True)

[100, 8, 7, 5, 4, 3, 2, 1]

In [147]:
l

[1, 100, 2, 3, 4, 5, 7, 8]

In [ ]:
l

[3, 4, 2, 1]

In [ ]:
l.sort()

In [ ]:
l

[1, 2, 3, 4]

In [ ]:
# List
# Bank Data - Interest Rates

l1 = [8.5%, 9.2% , 4% , 6% ]
l2 = ['Savings Account Interest' , "Bank Loan Interest" ,  "EMI Interest",  "Home Loan"]

# Dictionaries

This section will serve as a brief introduction to dictionaries and consist of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods

So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [ ]:
{'key':'value' , 'key1':'value1'}

In [2]:
d1 = {'student_name_1':100 , 'student_name_2':95 }

In [3]:
d1['student_name_1']

100

In [ ]:
{['key1','key2']:[1,2,3,4,5 , 1.5 , 'STRING']}

In [9]:
d2 = {1:0 , 2:4 ,1:10000 }

In [15]:
dict(zip(['A' , 'B' , 'C'] , [100 , 100 , 99]))

{'A': 100, 'B': 100, 'C': 99}

In [ ]:
columns_SQL - > GBQ - Columns NAME_OF_CUSTOMER

In [ ]:
FIRST_NAME_OF_CUSTOMER , LAST_NAME_OF_CUSTOMER , MIDDLE_NAME_OF_CUSTOMER

In [ ]:
FIRST NAME OF CUSTOMER , LAST NAME OF CUSTOMER , MIDDLE NAME OF CUSTOMER

In [17]:
dict(zip(['FIRST_NAME_OF_CUSTOMER' , 'LAST_NAME_OF_CUSTOMER' , 'MIDDLE_NAME_OF_CUSTOMER'] ,

['FIRST NAME OF CUSTOMER' , 'LAST NAME OF CUSTOMER' , 'MIDDLE NAME OF CUSTOMER']))

{'FIRST_NAME_OF_CUSTOMER': 'FIRST NAME OF CUSTOMER',
 'LAST_NAME_OF_CUSTOMER': 'LAST NAME OF CUSTOMER',
 'MIDDLE_NAME_OF_CUSTOMER': 'MIDDLE NAME OF CUSTOMER'}

In [ ]:
Hey These are Programming Hacks
Multiple Lines

In [ ]:
#hey_im_a_big_column_name there is something here

In [ ]:
list()
[]

dict()
{}

tuple()
()

In [6]:
# Make a dictionary with {} and : to signify a key and a value
marks_dict_physics = { 'Pranjal':40 , 'Ram':50 }

marks_dict_physics['Pranjal']
# {'key':value}
# Dict_1 = {} # Notation - dictionaries
# dict() - explicit dictionary declaration

40

In [18]:
d1 = { 1:[1,2,3,4,5]  ,  2 : {3 :"Three" , 4:{5:"Five" , 6:"Six"}} }

In [22]:
d1[2][4][5]

'Five'

In [23]:
d3 = {
'Pranjal':
    {
        'INFO':{} , 'MARKS':{'MATHEMATICS':[15,0,65],'CHEMISTRY':[0,0,0]}
    } ,
'Nipesh':
    {
        'INFO':{} , 'MARKS':{'MATHEMATICS':[15,0,65]  }
    } ,
'Anamika':
    {
        'INFO':{}
    },
'Sanjay':
    {
        'INFO':{}
    }
}

In [31]:
d3['Pranjal']['MARKS']['CHEMISTRY'][2]

0

In [26]:
d1 = { "Pranjal" :{ "Marks":{ "Physics":[15,20,50] , "Chemistry":{'Internals':10,'main':15,"End Sem":40}}  }}

In [27]:
d1['Pranjal']['Marks']['Chemistry']["End Sem"]

40

In [18]:
l1 = [["pranjal",["Chemistry",[10,15,20]]]]

In [28]:
list_1 = []
dict_1 = {}

In [29]:
list_1.append(1)

In [30]:
list_1

[1]

In [ ]:
#'key',value - > PAIR

In [32]:
d1 = {'HI':'English' , 'Kemcho':'Marathi' , 'Kamon Acho':'Bengali'}

In [33]:
d1['HI'] = 'ENGLISH1'

In [34]:
d1

{'HI': 'ENGLISH1', 'Kemcho': 'Marathi', 'KamonAcho': 'Bengali'}

In [35]:
l12 = [1,2,3]
l12[-1] = 10

In [36]:
l12

[1, 2, 10]

In [33]:
dict_1['arkav']=90

In [38]:
dict_1 = {'pranjal':20 , 'arkav':10}

In [40]:
dict_1

{'pranjal': 20, 'arkav': 10}

In [42]:
dict_1.update({'pranjal':80 , 'arkav':100}) # Update Statement

In [43]:
dict_1

{'pranjal': 80, 'arkav': 100}

In [41]:
dict_1

{'pranjal': 80, 'arkav': 90}

In [42]:
dict_1['pranjal'] = 100
dict_1['arkav'] = 100

In [43]:
dict_1

{'pranjal': 100, 'arkav': 90}

In [44]:
len(dict_1)

2

In [45]:
dict_1.keys()

dict_keys(['pranjal', 'arkav'])

In [46]:
dict_1.values()

dict_values([80, 100])

In [47]:
dict_1.items()

dict_items([('pranjal', 80), ('arkav', 100)])

In [52]:
type(dict_1.items())

dict_items

# Task - 2

1. Create a dictionary - Empty
2. Add 3 key , value pairs
3. List all the keys
4. list all the values 
5. List all the items
6. Create a new key value pair
7. Update that key value pair
8. Modify the second key and change it to 100


# Brownie Point Task

10000. Create a 4 level nested dictionary , (must make sense)

In [ ]:
d1 = {} # d1 = dict()

d1 = {'A':'2' , 'B':'5' , 'C':'10'}
d1.keys()
d1.values()
d1.items()
d1['D'] = 15
d1.update({'D' : 20})
d1.update({ list(d1.keys())[1] : 100})

In [79]:
list(d1.keys())[1]

'Age'

# Type Casting

In [80]:
int_1 = 1

In [81]:
float(int_1)

1.0

In [82]:
float_1 = 2.345789999
int(float_1)

2

In [90]:
list( d1.keys()   )[1]

'Age'

In [73]:
d1 = { 'FIRST_NAME' : 'Saheli' ,  'Age' : '24'  , 'LAST_NAME' : 'Sen'}

In [74]:
d1

{'FIRST_NAME': 'Saheli', 'Age': '24', 'LAST_NAME': 'Sen'}

In [65]:
dict_1000000

{}

In [ ]:
d2 = { 
    "User_Profiles": 
    {
    "EMP1" :{"name":"Kadir","email":"abc@xyz.com","scores":{"Eng":50,"Math":75, "Science":80}}, 
    "EMP2" :{"name":"Sameer", "email":"sameer@domain.com","scores":{"Eng":50,"Math":75, "Science":80}}
           
    }
}

In [66]:
subjects = { 
'Maths': 
{'Geo': 50, 
'Arith': 50, 
'Algo': 60 
}, 
'Eng':50, 
'Hindi':60, 
'Kannada':70, 
'Science':50, 
'Social':60, 
'Drawing':70, 
}

In [68]:
subjects['Maths'].keys()

dict_keys(['Geo', 'Airth', 'Alge'])

In [44]:
#dict_1 = {}
dict_1 = dict()

In [45]:
dict_1['key1'] = 10
dict_1['key2'] = 20
dict_1['key3'] = 30
dict_1

{'key1': 10, 'key2': 20, 'key3': 30}

In [46]:
dict_1.update({'key4':40}) # Update

In [50]:
dict_1['key5'] = 50

In [51]:
dict_1

{'key1': 10, 'key2': 20, 'key3': 30, 'key4': 40, 'key5': 50}

In [52]:
dict_2 = {"key":1 ,"key2" :2 }

In [60]:
list(dict_1.keys())

['key1', 'key2', 'key3', 'key4', 'key5']

In [62]:
list(dict_1.values())[0]

10

In [198]:
dict_1.update({'key2':100})

In [199]:
dict_1

{'key1': 10, 'key2': 100, 'key3': 30}

# Initial Creation of Dictionary

-> d1 = {'key1':value1 , 'key2':value2}

# Update values inside a dictionary

-> d1.update({'key1':value1_1})

# Add more values to the dictionary after creation

-> d1['new_key'] = new_value

In [200]:
dict_1

{'key1': 10, 'key2': 100, 'key3': 30}

In [72]:
list_names = ['name1','name2','name3']
list_marks = [40,50,60,70]

# Zip Function

In [73]:
# ZIP function 

dict(zip(list_names , list_marks))

{'name1': 40, 'name2': 50, 'name3': 60}

In [68]:
# Type Casting

l1 = [1,2,3] # - > list
# Tuple
set(l1) # - > set

{1, 2, 3}

In [69]:
l1 = [1,2,2,2,2,2]
l1

[1, 2, 2, 2, 2, 2]

In [71]:
s1 = set([1,2,2,2,2,2,2])
s1

{1, 2}

# .update()

In [167]:
# The update() method adds element(s) to the dictionary if the key is not in the dictionary. If the key is in the dictionary, it updates the key with the new value.

# Task 2

In [ ]:
# create a dictionary - Empty
# Add 3 key , value pairs
# List all the keys
# list all the values
# Modify the second key and change it to 100

In [ ]:
dict_1['key'] = value

In [201]:
# Nested dictionary

In [202]:
dict_2 = {'name1':{'maths':100 , 'chemistry':90 , 'physics':80}}

In [204]:
dict_2['name1']['maths']

100

In [206]:
type(dict_2['name1'])

dict

In [157]:
my_dict.keys()

dict_keys(['pranjal', 'name_2'])

In [158]:
l

[1, 100, 2, 3, 4, 5, 7, 8]

In [ ]:
# Call values by their key
my_dict['key2']

'value2'

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [74]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [ ]:
#Lets call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [ ]:
# Can call an index on that value
my_dict['key3'][0]

'item0'

In [ ]:
#Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

We can effect the values of a key as well. For instance:

In [ ]:
my_dict['key1']

123

In [76]:
my_dict.update({'key1':300})

In [77]:
my_dict

{'key1': 300, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [91]:
d1 = {"key1":10 , "key2":20 , "key3":30} # Substract 5 from each value

In [92]:
d1

{'key1': 10, 'key2': 20, 'key3': 30}

In [89]:
# Subtract 5 from the value
d1['key3'] = d1['key3'] - 5
d1['key1'] = d1['key1'] - 5
d1['key2'] = d1['key2'] - 5

In [90]:
d1

{'key1': 5, 'key2': 15, 'key3': 25}

In [93]:
for key in list(d1.keys()):
    d1[key] = d1[key]-5

In [94]:
d1

{'key1': 5, 'key2': 15, 'key3': 25}

In [ ]:
a = a-1

a -= 1

In [ ]:
#Check
my_dict['key1']

0

A quick note, Python has a built-in method of doing a self subtraction or addition (or multiplication or division). We could have also used += or -= for the above statement. For example:

In [ ]:
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123
my_dict['key1']

-123

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [ ]:
# Create a new dictionary
d = {}

In [ ]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [ ]:
# Can do this with any object
d['answer'] = 42

In [ ]:
#Show
d

{'animal': 'Dog', 'answer': 42}

## Nesting with Dictionaries

Hopefully you're starting to see how powerful Python is with its flexibility of nesting objects and calling methods on them. Let's see a dictionary nested inside a dictionary:

In [ ]:
# Dictionary nested inside a dictionary nested in side a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [ ]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

## A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [95]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [208]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [209]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [97]:
# Method to return tuples of all items  (we'll learn about tuples soon)
list(d.items())

[('key1', 1), ('key2', 2), ('key3', 3)]

In [102]:
list(d.items())[0][1]

1

# Task

List - > Create , add values at position 2 , delete the first element , print the count of 1
Dictionary -> Create , modify a value, print the items and access the 3rd item

In [2]:
l1 = [1,2,3,4,5,6]
l1.insert(1,10)

In [4]:
del l1[0]
l1

[10, 2, 3, 4, 5, 6]

In [5]:
print(l1.count(1))

0

In [7]:
d1={1:"aryesh",2:"Arko",3:"ram"} 
d1.update({1:"aryeshroy"}) 
d1

{1: 'aryeshroy', 2: 'Arko', 3: 'ram'}

In [10]:
dict(d1.items()) 
list(d1.items())[2]

(3, 'ram')

# Done 

1. LIST
2. DICTIONARY

# Today

3. TUPLES
4. SETS

# Tuples

### Work exactly like Lists
### But the elements inside a tuple are fixed
### No addition or deletion , IMMUTABLE
### Fixed Length , and to modify a new tuple must be created

# Creation

In [92]:
t1 = ()  # Creating an empty tuple
t2 = tuple() # Another way

In [94]:
t1 = (1,2,3,4,5)
t1

(1, 2, 3, 4, 5)

In [112]:
t1

(1, 2, 3, 4, 5)

In [124]:
t1 = (1,2,3,4,5,6)

In [125]:
t1

(1, 2, 3, 4, 5, 6)

In [127]:
t1 = list(t1)

In [128]:
t1.append(7)

In [129]:
tuple(t1)

(1, 2, 3, 4, 5, 6, 7)

In [131]:
l1 = [1,2,3]

In [132]:
l1.append(4)

In [ ]:
t1 = tuple()
t1 = ()

In [11]:
t3 = ()
type(t3)

tuple

In [12]:
t3

()

In [13]:
t4 = tuple()

In [14]:
t4

()

In [134]:
t2 = tuple(l1)

In [135]:
t2

(1, 2, 3, 4)

In [ ]:
# List - []
# Dict - {}
# Tuple - ()

In [ ]:
# print()

In [15]:
l1 = [1,2,3,4,5]
l1[1] = 10000

In [16]:
l1

[1, 10000, 3, 4, 5]

In [25]:
t1 = (1,2,3,4,5)
t1[1] = 9999

TypeError: 'tuple' object does not support item assignment

In [22]:
t1

(1, 9999, 3, 4, 5)

In [44]:
t2 = (1,2,3,4,5)
t2
type(t2)

tuple

In [42]:
t3 = tuple(['PRANJAL','BIYANI'])
t3
type(t3)
t3

('PRANJAL', 'BIYANI')

In [ ]:
# Defining a Tuple - Always choose - tuple()

In [ ]:
(var1 , var2 , var3)

In [ ]:
# When do we use () to create a tuple ?

# When you insert more than one value like (1,2,3) - > then the language understands that you want to create a tuple
# but if you simply add one elemnt , it does not understand if it is a tuple or a single value data

# When do we use tuple() - 
# works always

In [45]:
# fix
t2 = tuple(['PRANJAL'])

In [46]:
t2

('PRANJAL',)

In [47]:
t2.append('BIYANI')

AttributeError: 'tuple' object has no attribute 'append'

In [48]:
t2.extend('BIYANI')

AttributeError: 'tuple' object has no attribute 'extend'

In [49]:
t2 = tuple(['BIYANI'])
t2

('BIYANI',)

In [34]:
t3 = tuple([{"d1":"val1"}])

In [ ]:
#tuple( [ ENTER HERE ] )

# Associated Functions

#### MAX()
#### MIN()
#### LEN()

# Associated Methods

#### .INDEX()
#### .COUNT()

In [140]:
l1 = [1,2,3,4,5,56]

In [141]:
max(l1)

56

In [142]:
min(l1)

1

In [143]:
len(l1)

6

In [148]:
sum(l1)/len(l1)

11.833333333333334

In [149]:
d1

{'FIRST_NAME': 'Saheli', 'Age': '24', 'LAST_NAME': 'Sen'}

In [151]:
d1['Z'] = 10

In [154]:
d1 = {'A':10 , 'B':100}

In [155]:
max(d1.values())

100

In [56]:
# associated fuunctions

In [42]:
number_tuple = (1,5,8,10,100)

In [43]:
max(number_tuple)

100

In [44]:
number_tuple_1 = (7,8,9)

In [46]:
min(number_tuple_1)

7

In [47]:
len(number_tuple_1)

3

In [52]:
d1[4] = "Hey"
d1

{1: 'aryeshroy', 2: 'Arko', 3: 'ram', 4: 'Hey'}

In [56]:
len(d1)

4

In [57]:
# associated Methods

In [58]:
number_tuple.index(10) # Searching

3

In [59]:
number_tuple.count(8)  # Counting - Number of Occurences

1

In [58]:
t1 = (1,2,3,4,5)

# Slicing

# Task 3 TUPLE

1. Create a multi value tuple
2. Find the Count of element 3
3. Find the Index of the number 2
4. Find the Minimum , Maximum and Length of the Tuple
5. Display the first 3 elements from the tuple

In [64]:
t1

(1, 2, 3, 4, 5)

In [69]:
tup = (1,2,3,4,4,5,6,7,8,9,0)

In [70]:
tup.count(1)

1

In [71]:
tup.count(4)

2

In [72]:
tup.count(0)

1

In [73]:
tup.index(2)

1

In [74]:
max(tup)

9

In [76]:
min(tup)

0

In [77]:
len(tup)

11

In [81]:
tup[4:]

(4, 5, 6, 7, 8, 9, 0)

In [82]:
tup

(1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 0)

In [83]:
tup.count(4,6,0)

TypeError: count() takes exactly one argument (3 given)

# Operators 
1. + Operator
2. * Operator

In [90]:
tup = (1,2,3)
tup2 = (4,5,6)

tup3 = tup+tup2

In [91]:
tup3

(1, 2, 3, 4, 5, 6)

In [ ]:
# Explore ! - Combinations of Data Types and Operators ( + , - , * , / , % , //)

In [74]:
l1 = [1,2,3,4,5,8,9,10]
l2 = [1,2,3,4,5,6]

In [12]:
# What if we want to sort a tuple ?

In [ ]:
# ZIP Function
# Inverse ZIP ( *)

# Sets

# Methods

1. Add
2. Clear
3. Remove
4. issubset() ( s1.issubset(s2))
5. issuperset()

# Operations

1. UNION
2. INTERSECTION
3. DIFFERENCE

# Set - Collection of **similar** unique objects

In [ ]:
# Initialize a set

# [] , {} , ()

In [75]:
s1 = {1,2,3,4}

In [76]:
type(s1)

set

In [78]:
# ONLY UNIQUE ELEMENTS

s1 = {1,1,1,1,1,1,1000}
s1

{1, 1000}

In [101]:
s1 = set([1,2,3,4])
# To create a set , the set keyword must be explicitly stated and the values passed
# must be inside a list , or a tuple , or any other data type element

In [102]:
s1

{1, 2, 3, 4}

In [103]:
type(s1)

set

In [114]:
s1

{1, 2, 3, 4}

In [79]:
s1.add(5)
s1[0]

TypeError: 'set' object is not subscriptable

In [116]:
s1.add(4) # can't add a pre-existing element
s1

{1, 2, 3, 4, 5}

In [117]:
s1[0]

TypeError: 'set' object does not support indexing

In [125]:
list(s1)[0] # TYPE CAST TO A LIST

1

In [80]:
s1

{1, 5, 1000}

In [81]:
s1.clear()

In [82]:
s1

set()

In [131]:
s1 = set([1,2,3])
s1.remove(2)

In [132]:
s1

{1, 3}

In [133]:
if 3 in s1:
    print('3 exists') # SET DOESNOT HAVE THE CONCEPT OF INDEXING , it has ELEMENTS !

3 exists

In [83]:
a = set([1,2,3,4,5])
b = set([1,2,3]) 
# If all elements of b exist in a , then b is called a subset of a
# If all elemnts of b exists in a  , then a is called superset of b

In [84]:
b.issubset(a)

True

In [86]:
b.issuperset(a)

False

In [140]:
a

{1, 2, 3, 4, 5}

In [141]:
b

{1, 2, 3}

In [87]:
a.union(b)

{1, 2, 3, 4, 5}

In [143]:
a.intersection(b)

{1, 2, 3}

In [88]:
a.difference(b)

{4, 5}

# SLICING DOES NOT EXIST

In [121]:
for elem in s1[:3]:
    print(elem)

TypeError: 'set' object is not subscriptable

In [122]:
list1 = [1,2,3]

list1[1]

2

In [123]:
s1 = set([1,2,3])

s1[1]

TypeError: 'set' object does not support indexing

# TYPE CASTING

In [89]:
string1 = 1

In [90]:
type(string1)

int

In [91]:
tuple(set(list(tuple(set([string1])))))

(1,)

In [1]:
list = [3,4,5]

In [4]:
list.append(7)

In [5]:
list

[3, 4, 5, 7]

In [7]:
list(set([3,4,5]))

TypeError: 'list' object is not callable